@using Bogevang.Common.Utility
@using Bogevang.Booking.Domain
@using Bogevang.Booking.Website.ViewModels
@model BookingCheckoutViewModel

@inject BookingSettings bookingSettings

@if (Model.BookingId > 0)
{
  <script>
    bookingDeposit = @Model.Deposit.ToString(System.Globalization.CultureInfo.InvariantCulture);
    electricityPriceUnit = @Model.ElectricityPriceUnit.ToString(System.Globalization.CultureInfo.InvariantCulture);
  </script>

  <form id="checkoutApp">
    @Html.AntiForgeryToken()

    <partial name="_VueErrorSummary" />

    <div class="row mb-3">
      <label for="bookingNumber" class="col-3 col-form-label">Aftalenummer:</label>
      <div class="col">
        <input type="text" class="form-control" id="bookingId" value="@Model.BookingNumber" readonly>
      </div>
    </div>

    <div class="row mb-3">
      <label for="arrivalDate" class="col-3 col-form-label">Periode:</label>
      <div class="col">
        <div class="input-group">
          <input type="text" class="form-control" id="arrivalDate" value="@Model.ArrivalDate.ToString("dd.MM.yyyy")" readonly>
          &nbsp;-&nbsp;
          <input type="text" class="form-control" id="arrivalDate" value="@Model.DepartureDate.ToString("dd.MM.yyyy")" readonly>
        </div>
      </div>
    </div>

    <div class="row mb-3">
      <label for="contactName" class="col-3 col-form-label">Kontaktperson:</label>
      <div class="col">
        <input type="text" class="form-control" id="contactName" value="@Model.ContactName" readonly>
      </div>
    </div>

    <div class="row mb-3">
      @await Html.VueEditorColFor(m => m.StartReading, cssClass: "number")
      @await Html.VueEditorColFor(m => m.EndReading, cssClass: "number")
    </div>

    <div class="row mb-3">
      <div class="col">
      </div>
      <div class="col">
        <label for="electricityPrice" class="form-label">Pris pr. kWh (kr)</label>
        <input type="text" class="form-control number" id="electricityPrice" value="@Model.ElectricityPriceUnit.ToString("0.00")" readonly>
      </div>
    </div>

    <div class="row mb-3">
      <div class="col">
        <label for="kwhUsed" class="form-label">Forbrug (kWh)</label>
        <input type="text" class="form-control number" id="kwhUsed" v-model="kwhUsedDisplay" readonly>
      </div>
      <div class="col">
        <label for="electricityPriceTotal" class="form-label">El-omkostning (kr)</label>
        <input type="text" class="form-control number" id="electricityPriceTotal" v-model="electricityPriceTotalDisplay" readonly>
      </div>
    </div>

    <div class="row mb-3">
      <div class="col">
      </div>
      <div class="col">
        <label for="deposit" class="form-label">Depositum (kr)</label>
        <input type="text" class="form-control number" id="deposit" v-model="depositDisplay" readonly>
      </div>
    </div>

    <div class="row mb-3">
      <div class="col">
      </div>
      <div class="col">
        <label for="totalPrice" class="form-label">At betale (kr)</label>
        <input type="text" class="form-control number" id="totalPrice" v-model="totalPriceDisplay" readonly>
        <div id="totalPrice_descr" class="form-text">
          Et negativt beløb betyder at du skal have penge tilbage.
        </div>
      </div>
    </div>

    <div v-if="totalPrice > 0" class="alert alert-primary">
      <p>Betal venligst det udestående beløb tilbage på konto @bookingSettings.BankAccount.</p>
    </div>
    <div v-if="totalPrice < 0" class="alert alert-primary">
      <p>Oplys venligst bankkontonummer i kommentarfeltet herunder, så du kan få det udestående beløb tilbagebetalt.</p>
    </div>

    @await Html.VueEditorRowFor(m => m.Comments)


    <button type="button" id="sendButton" class="btn btn-primary" v-on:click="send">Send</button>
    <button type="button" id="cancelButton" class="btn btn-secondary" v-on:click="cancel">Fortryd</button>

  </form>

  <partial name="_VueLoaderOverlay" />

  <script defer src="~/js/forms-editor-plugin.js"></script>
  <script defer src="~/booking/scripts/checkout-booking.js"></script>
}
else
{
  <p>Der er ikke angivet noget aftalenummer.</p>
}
