@using Bogevang.Website.Configuration

@inject ICofoundryHelper Cofoundry
@inject ThemeSettings themeSettings

@{
    Layout = null;

    string title = null;
    string description = null;

    var metaDataModel = Model as IPageWithMetaDataViewModel;
    if (metaDataModel != null)
    {
        description = metaDataModel.MetaDescription;
        title = metaDataModel.PageTitle;
    }

    title = StringHelper.FirstNonEmpty(title, ViewBag.Title, "Bøgevang");
}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>@title</title>

  <meta name="description" content="@description" />

  <link rel="stylesheet" href="~/css/Bootstrap/bootstrap.min.css" />
  <link rel="stylesheet" href="~/css/style.css" asp-append-version="true" />
  <link rel="stylesheet" href="~/font-awesome/css/all.css" />
  
  @RenderSection("Head", required: false)

</head>
<body>

  <div class="container">
    <nav class="navbar navbar-expand-lg navbar-light">
      <a class="navbar-brand" href="/">@themeSettings.SiteTitle</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#topNavbarMenu" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="topNavbarMenu">
        @await Component.InvokeAsync("NestedMenu", "Hovedmenu")
      </div>
    </nav>
    <div class="header">
    </div>

    <main>
      @RenderBody()
    </main>

    <footer class="mt-5">
      @await Component.InvokeAsync("Snippet", "Footer")
    </footer>

  </div>

  <script src="~/js/jquery/jquery-3.6.0.min.js"></script>
  <script src="~/js/bootstrap/bootstrap.bundle.min.js" integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script>
  <script src="~/js/vue/vue.js"></script>

  @RenderSection("Scripts", required: false)

</body>
</html>